html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

body {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  width: 100%;
  display: block;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.text {
  bottom: 100px;
  max-width: 50em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

h2 {
  font-size: 4rem;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  line-height: 1.4;
}

p {
  font-size: 2rem;
}
